body{
	background-color: #404040;
	font-family: fantasy;
}
nav{
	font-size: 20pt;
	width: 70%;
	margin: auto;
	background-color: #B2240E;
	height: 1.5em;
	text-align: center;
}
a:link{
	text-decoration: none;
	color: black;
	margin: 1em;
	position: relative;
	top: 15%;
}
a:hover{
	text-decoration: underline overline;
	color: white;
}
a:visited{
	color: black;
}
.square {
	width: 10px;
	height: 10px;
	background: black;
	display: inline-block;
	position: relative;
	top: 5%;
}
.leftbanner{
	width: 15%;
	height: 100%;
	top: 0;
	position: fixed;
	float: left;
	background-image: url("images/banner.gif");
	background-repeat: no-repeat;
    background-size: contain;
}
.rightbanner{
	width: 15%;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-image: url("images/banner.gif");    
    background-size: contain;

}
.topbanner{
	width: 70%;
	margin: auto;
	height: 6em;
	background-image: url("images/eevee.jpg");
    background-repeat: repeat-x;
    background-size: 10em;
}
.content{
	 margin: 0 auto;
	 width: 70%;
	 margin-top: 1em;
}

.slideshow{
	margin: 0 auto;
	margin-left: 1em;
}

.project{
	width: 30%;
	height:30%;
	float: left;
	margin: 1em;
}

.sscherryblossom, .sseevee, .ssyugioh, .superhero{
	display: none;
	width: 50%;
	height: 50%;

}

.ssyugioh{
}

.image{
	width: 30%;
	height: 30%;
	border: white outset 1px;
	display: inline;
	float: left;
}

.thumbnails{
	width: 70%;
	margin: auto;
}

.eeveetn, .cherryblossomtn, .yugiohtn{
	width: 20%;
	height: 20%;
	float: left;
	margin-top: 2em;
	margin-left: 1em;
}

form{
	margin-left: 1em;
	margin-top: 5em;
}

.selected{
	display: inline;
}



p, h1{
	font-family: 'times new roman';
	color: white;
	margin-right: 1em;
	max-width: 500px;
}

h1{
	font-size: 18pt;
	margin-bottom: 1em;
	margin-left: 35%;
}

.mainbody{
	margin-left: 35%;
}
.byscript{
	float: left;
	margin-left: 1em;
}

footer{
	position: absolute;
	width: 70%;
	right: 0;
	bottom: 0;
	font-family: 'Niconne', cursive;
	color: white;
}




@media (max-width: 700px){
	nav{
		font-size: 12pt;
	}

	p{
		max-width: 200px;
	}
}